<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      test
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>

<div id="carouselExampleControls" class="carousel slide carousel-banner" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag( "homepage/banner-01.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag( "homepage/banner-02.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag( "homepage/banner-03.jpg", class: 'd-block w-100') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
