

<!-- error 500 -->

<h1 style="font-weight: 700; margin-top: 5%;">
	500 Page:
</h1>

<h3> Wrong Move Champ! </h3>

<p style="margin-top: 5%;">
<%= link_to  "/catalogue" do %>
	<div class="error-button">
		See GoMarket catalogues
	</div>
<% end %>
</p>