
<% content_for :title, "400 - " %>
<h1 style="font-weight: 700; margin-top: 5%;">
	404 Page:
</h1>

<h3> Wrong Move Champ! </h3>

<p style="margin-top: 5%;">
<%= link_to  "/catalogue" do %>
<div class="no-product-txt">
	Sorry :(
	<br/>Go back to <%= link_to root_path do%> home <% end %>
</div>
<% end %>
</p>
