<div class="row">
	<div class="col-md-4 mx-auto">
            <form class="needs-validation" novalidate>
            	<div class="row">
            		<div class="col-md-12 mb-3">
            			<div class="form-group">
	            			<label for="inputEmail">Email address</label>
						    <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
						    <div class="invalid-feedback">
								Please provide a valid email.
      						</div>
						</div>
						<div class="form-group">
							<label for="inputPassword">Password</label>
							<input type="password" class="form-control" id="inputPassword" placeholder="Password" data-error="Password is invalid" required>
						    <div class="invalid-feedback">
								Password is incorrect
      						</div>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Submit form</button>
            </form>
	</div>
</div>

