// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts-row {
  border-bottom: 0.5px solid #f07e4a ;
  padding-bottom: 2%;
}

.cart-price:focus {
  border-color: #f07e4a !important;
    outline: 0 none;
    box-shadow: 0 0 0 0 !important;
}

.cart-update {
  border-color: #f07e4a !important;
  border: 1px solid;
  background-color: #f07e4a !important;
  color: white;
}

.cart-delete {
  border-color: #f07e4a !important;
  border: 1px solid;
  color: black;
  text-decoration: none;
}

.cart-button{
  color: white !important;
  font-weight: 800 !important;
  width: 100%;
  border-color: transparent !important;
  border-radius: 10px;
}

.cart-price{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}

.cart_product_name{
  font-weight: 700;
  font-size: 150%;
}

.cart-quantity{
  background-color: white;
}

.cart-item{
  padding-top:50px;
  padding-bottom: 50px;
}

.cart_total {
  object-fit: fill;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cart-total-price {
  font-size: 150%;
  font-weight: 700;
}
