// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Create Product

#cp-picture {
  border: 1px dashed #797979;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 5% 5%;
}

.cp-inputfile {
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.btn-for-caman {
  padding: 2% 2%;
  margin: 8% 3%;
  background: white;
  border: 1px solid #f07e4a !important;
  font-size: 100% !important;
  -webkit-transition: all 250ms ease-out;
 -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
   -o-transition: all 250ms ease-out;
      transition: all 250ms ease-out;

}

.btn-for-caman:hover {
  background: rgba(240, 126, 74,0.2);
}

button:focus, input[type=range]:focus{
  box-shadow: 0 0 0 0 !important;
  outline: 0 !important;
}

.cp-div-pic {
  width: 50%;
}

.cp-div-pic::after {
  content: "";
  display: block;
}

.cp-div-pic .cp-pic-button {
  -webkit-transition: .3s;
  transation: .3s;
  position: relative;
  text-align: center;
  padding: 10px 30px;
  background-color: #f1f1f1;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}

.cp-div-pic .cp-pic-button:hover {
  background-color: #263238;
  color: #aaa;
}

.cp-div-pic .cp-pic-button:hover i {
  color: #aaa;
}

.cp-div-pic .cp-pic-button #cp-picture {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.cp-picture-field {
  display: none;
}


.cp-div-picupload {
  width: 100%;
  height: 200px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-radius: 5px 5px 0px 0px;
}

.cp-div-picupload img {
  object-fit: fill;
  margin: auto;
  height: 200px;
  max-width: 100%;
  width: auto;
}

.cp-miss-pic {
  display: none;
}

.cp-text-field {
  border-radius:5px;
  width: 100%;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  transation: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cp-text-field:focus{
  border-color: #f07e4a;
  outline: 0 none;
}

.cp-submit {
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 0px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-image: linear-gradient(to left, #f07e4a, #f0b84b);
  color: white;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 1;
  float: right;
  -webkit-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
}

.cp-submit:focus{
  border-color: #f07e4a;
  outline: 0 none;
}

.cp-form-name { font-weight: 700; font-size: 120%}
.cp-form-row { margin-bottom: 2%;}
.cp-choose-pic { font-weight: 400; font-style: italic;}

//Show Product


#pd-div-image-small {
  max-width: 30%;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #dddcdc;
  margin: 0 1.5%;
  padding: 0;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
 -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
   -o-transition: all 250ms ease-out;
      transition: all 250ms ease-out;
}

#pd-div-image-small:hover {
  opacity: 0.8;
  background-color: rgba(0,0,0,0.1)
}

#pd-image {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#pd-div-price{
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid transparent;
  background-clip: padding-box;
  background: white;
  position: relative;
  height: 20%;
  padding: 5% 5%;
  text-align: left;
}

#pd-div-price::after {
  position: absolute;
  background: linear-gradient(to left, #3284c7 1%, #45B7E7 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 10px 10px 0px 0px;

}

.product-button {
	background-image: linear-gradient(to right, #27a8e1, #0173bc);
	padding:10px;
	margin: 10px 0px 10px 0px;
	border-radius: 10px;
	text-align: center;
	width: 100%;
  font-weight: 700;
	font-size: 100%;
	color:white;
	text-decoration: none;
}

.de-ac .product-button {
  background-image: linear-gradient(to left, #f07e4a 1%, #f0b84b 100%);
}

#p-button-link, .de-ac a {
	font-weight: 700;
	font-size: 100%;
	color:white;
	text-decoration: none;
  width: 100%;
	}

#p-button-link p, .de-ac p{
	margin:0px !important;
}

.de-ac a:hover{text-decoration: none;}

.pd-price-txt {
  text-align: center;
  font-weight: 700;
  font-size: 150%;
  margin-bottom: 2%;
}

.cart-button{
  color: white !important;
  font-weight: 800 !important;
  background: transparent !important;
  width: 100%;
  border-color: transparent !important;
  border-radius: 10px;
}

#pd-div-addtocart {
  max-width: 100%;
  position: relative;
  border: 1px solid transparent;
  height: 7%;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(to left, #3284c7, #45B7E7);
  background-clip: padding-box;
  display: flex;
  padding-left: 3%;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 120%;
  color: white;

}

#pd-div-addtocart::after {
  position: absolute;
  background: linear-gradient(to left, #3284c7 1%, #45B7E7 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 0px 0px 10px 10px;
}

#pd-div-seller {
  margin-top: 10%;
  max-width: 100%;
  position: relative;
  border: 1px solid transparent;
  height: 7%;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(to left,#f07e4a, #f0b84b);
  background-clip: padding-box;
  display: flex;
  padding-left: 3%;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 120%;
  color: white;

}

#pd-div-seller::after {
  position: absolute;
  background: linear-gradient(to left, #f07e4a 1%, #f0b84b 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 10px 10px 0px 0px;
}

#pd-div-sellerinfo {
  max-width: 100%;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid transparent;
  background-clip: padding-box;
  background: white;
  position: relative;
  height: 70%;
  padding: 5% 5%;
  text-align: left;
}

#pd-div-sellerinfo::after {
  position: absolute;
  background: linear-gradient(to left, #f07e4a 1%, #f0b84b 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 0px 0px 10px 10px;

}

.pd-div-image {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #dddcdc;
  text-align: center;
  position: relative;
}

.pd-div-image img {
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pd-clicked-image  {
  max-height: 350px;
  max-width: 100%;
}

#small-page { margin: 5% 4%}

@media (max-width: 575.98px) {
  #small-page { margin: 3% 4%}
  #pd-div-price { height: 20%}
  #pd-div-addtocart { height: 20%}
  #pd-div-seller { height: 20%}
  #pd-div-sellerinfo { height: 100%; margin-bottom: 30%}
}

@media (max-width: 575.98px) {

}

//Catalogue

.no-product-txt {
  color: #5b5b5b;
  width: 100%;
  text-align: center;
  padding: 3%;
  border: 1px solid #5b5b5b;
  border-radius:8px;
  font-size: 150%;
}

.no-product-txt a, .no-product-txt a:hover{
  text-decoration: none;
  color: #f07e4a;
}


.sort-dropdown button, .sort-dropdown button:focus,.sort-dropdown button:active  {
  background: linear-gradient(to left, #f07e4a, #f0b84b) !important;
  color: white;
  font-weight: 700;
  font-size: 100%;
  outline: none;
  box-shadow: 0 0 0 0;
  width: 200px;
}

.sort-dropdown {right: 0; margin-top: 2%;}

.sort-dropdown ul{width: 200px;}

.sort-dropdown ul a {
  font-size: 100%;
  padding: 0 10%;
}

#cat-card {
  padding: 0px 0px;
  margin-top: 1.5%;
  margin-left: 2%;
  max-width: 23%;
  border: 1px solid #dddcdc;
  border-radius: 10px 10px 10px 10px;
  box-shadow:0 1px 11px 0 rgba(0,0,0,.1);

  -webkit-transition: all 250ms ease-out;
   -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
     -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
}

#cat-card:hover {
  transform: scale(1.02);
  box-shadow:0 1px 11px 0 rgba(0,0,0,.2);
}

#cat-div-image {
  background-color: #f1f1f1;
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  position : relative;
  width: 100%;
  overflow : hidden;
  text-align:center;
  line-height:200px;
}

#cat-desc {
  padding: 5% 8%;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}

#cat-desc p {margin: 0}
.cat-desc-title {font-weight: 700}

@media (max-width: 575.98px) {
  #cat-card {max-width: 48%; margin-top: 3%}
}

#cat-front-image {
  max-width: 100%;
  max-height: 200px;
  vertical-align:middle;
}

#cat-product-card {
  color: inherit;
  text-decoration: none;

}


input[type="range"]{
  -webkit-appearance:none;
  width:100%;
  height:2px;
  background: #3284c7;
  background-repeat:no-repeat;
  top: 0px;
  bottoM: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border-radius: 100%;
  background: white;
  position:relative;
  border: 3px solid #f07e4a;
  z-index:3;
  cursor: pointer;
}
