// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Create Product

#cp-picture {
  border: 1px dashed #797979;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 5% 5%;
}

.cp-inputfile {
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.cp-div-pic {
  width: 50%;
}

.cp-div-pic::after {
  content: "";
  display: block;
}

.cp-div-pic .cp-pic-button {
  -webkit-transition: .3s;
  transation: .3s;
  position: relative;
  text-align: center;
  padding: 10px 30px;
  background-color: #f1f1f1;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}

.cp-div-pic .cp-pic-button:hover {
  background-color: #263238;
  color: #aaa;
}

.cp-div-pic .cp-pic-button:hover i {
  color: #aaa;
}

.cp-div-pic .cp-pic-button #cp-picture {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}


.cp-div-picupload {
  width: 100%;
  height: 200px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-radius: 5px 5px 0px 0px;
}

.cp-div-picupload img {
  object-fit: fill;
  margin: auto;
  height: 200px;
  max-width: 100%;
  width: auto;
  display:none;
}

.cp-text-field {
  border-radius:5px;
  width: 100%;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  transation: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cp-text-field:focus{
  border-color: #f07e4a;
  outline: 0 none;
}

.cp-submit {
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 0px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-image: linear-gradient(to left, #f07e4a, #f0b84b);
  color: white;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 1;
  float: right;
  -webkit-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 18px 0px rgba(0,0,0,0.25);
}

.cp-submit:focus{
  border-color: #f07e4a;
  outline: 0 none;
}

.cp-form-name { font-weight: 700; font-size: 120%}
.cp-form-row { margin-bottom: 2%;}
.cp-choose-pic { font-weight: 400; font-style: italic;}

//Show Product


#pd-div-image-small {
  max-width: 30%;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #aaa;
  margin: 0 1.5%;
  padding: 0;
}

#pd-image {
  width: 100%;
  height: auto;
  object-fit: fill;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#pd-div-price {
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid transparent;
  background-clip: padding-box;
  background: white;
  position: relative;
  height: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
}

#pd-div-price::after{
  position: absolute;
  background: linear-gradient(to left, #3284c7 1%, #45B7E7 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 10px 10px 0px 0px;
}

#pd-div-addtocart {
  max-width: 100%;
  position: relative;
  border: 1px solid transparent;
  height: 7%;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(to left,#3284C7, #45B7E7);
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: 120%;
  color: white;
}

#pd-div-addtocart::after{
  position: absolute;
  background: linear-gradient(to left, #3284c7 1%, #45B7E7 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 0px 0px 10px 10px;
}

#pd-div-seller {
  margin-top: 10%;
  max-width: 100%;
  position: relative;
  border: 1px solid transparent;
  height: 7%;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(to left,#f07e4a, #f0b84b);
  background-clip: padding-box;
  display: flex;
  padding-left: 3%;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 120%;
  color: white;

}

#pd-div-seller::after {
  position: absolute;
  background: linear-gradient(to left, #f07e4a 1%, #f0b84b 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 10px 10px 0px 0px;
}



#pd-div-sellerinfo {
  max-width: 100%;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid transparent;
  background-clip: padding-box;
  background: white;
  position: relative;
  height: 70%;
  padding: 5% 5%;
  text-align: left;
}

#pd-div-sellerinfo::after {
  position: absolute;
  background: linear-gradient(to left, #f07e4a 1%, #f0b84b 100%);
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  content: '';
  z-index: -1;
  border-radius: 0px 0px 10px 10px;

}

.pd-div-image {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #aaa;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.pd-clicked-image  {
  max-height: 350px;
  max-width: 100%;

}

@media (max-width: 575.98px) {
  #small-page { margin: 0 3%}
  #pd-div-price { height: 20%}
  #pd-div-addtocart { height: 20%}
  #pd-div-seller { height: 20%}
  #pd-div-sellerinfo { height: 200%}
}
